---
layout: archive
---

{{ content }}

<section class = "introduction_content" itemprop = "text">
  <p>I am a BS in Economics candidate at <a href = "https://snu.edu.in/departments/department-of-economics/">
  Shiv Nadar University</a>. My undergraduate thesis is supervised by <a href = "https://sites.google.com/site/arkaecon/">Dr. Arka
  Roy Chaudhuri</a>. I will be joining the <a href = "https://bse.eu/">Barcelona School of Economics/
  Universitat Pompeu Fabra</a> in September'24 for my Masters' in Economics. I am currently interested in theoretical and applied
  econometrics, with plans to pursue a PhD in the same.
  </p>
</section>
  
</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
